@import url("https://fonts.googleapis.com/css?family=Montserrat");

.title {
  font-family: "Montserrat";
  display: flex;
  text-align: center;
  flex-direction: column; 
  letter-spacing: 1px;
  margin-top: 10%;
}

.title p {
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
}

.title h1 {
  background-color: black;
  background-image: url(https://media.giphy.com/media/f6qMGmXuOdkwU/giphy.gif);
  background-size: cover;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 0.75;
  margin: 10px 0;
}

@media screen and (max-width:860px){
  .title h1 {
    font-size: 6.5rem;
  }
  .title {
    margin-top: 30%;
  }
  
}

@media screen and (max-width:700px){
  .title h1 {
    font-size: 3.5rem;
  }
  .title p {
    font-size: 1rem;
  }
}

@media screen and (max-width:320px){
  .title h1 {
    font-size: 3.0rem;
  }
  .title p {
    font-size: 0.8rem;
  }
}