.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  box-sizing: border-box;
  background: rgba(196, 196, 196, 0.527);
  border-radius: 2em;
  padding: 40px;
}
.card-first {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}
.card-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-social img {
  height: 80px;
  width: 80px;
  margin: 5px;
}

.card-social img:hover {
  cursor: pointer;
}

